<% form_for(@post) do |f| %>
  <%= f.error_messages %>
<p>
  <%= f.label :title, "title" %><br />
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :content %><br />
  <%= f.text_area :content %>
</p>
<p>
  Tags:<br />
  <%= text_field_tag(:tags) %>
</p>
<p>
  <%= f.submit "Save" %>
</p>
<% end %>

