
<p>title: <%=h @post.title %></p>
<p>content: <%=h @post.content %></p>
<p>author: <%= @post.author.name %></p>
<p>tags:
<% @tags.each do |tag| %>

 <%=h link_to tag[:name], tag_path(tag) %>

<% end %>

</p>

<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Back', posts_path %>
<%= link_to 'Destroy', @post, :confirm => 'Are you sure?', :method => :delete %>
